In [1]:
import pandas as pd
from ipaddress import ip_address, ip_network, IPv6Address, IPv6Network
from numpy import nan

from sqlalchemy import create_engine

from tqdm import tqdm, tqdm_pandas
tqdm.pandas()

### Loading the RIPE ip ranges

In [2]:
ripe_ip_ranges = pd.read_csv('CDU_ip_ranges.csv', index_col=0)

In [3]:
ripe_ip_ranges.sample(5)

             inet6num                          inetnum  primary-key
27                NaN  87.193.169.128 - 87.193.169.128     17660064
20                NaN      92.198.61.80 - 92.198.61.87      7082616
15                NaN   212.144.253.8 - 212.144.253.15      7850771
23                NaN  87.234.248.115 - 87.234.248.115     16010247
0   2003:46:e033::/48                              NaN     15743813

In [ ]:
print("Number of different IP ranges: ", ripe_ip_ranges.shape)

print("Number of unique names in ranges: ", ripe_ip_ranges['name'].unique().shape)

print("Number of unique prim-keys in ranges: ", ripe_ip_ranges['primary-key'].unique().shape)

### Preparing data for matching

In [5]:
def split_ip(ip):
    # 192.168.1.1 -> (192, 168, 1, 1)
    return tuple(int(d) for d in ip.split('.'))

In [6]:
ripe_ip_ranges['ipv6net'] = ripe_ip_ranges.dropna(subset=['inet6num'])['inet6num'].apply(lambda x: IPv6Network(x))

ripe_ip_ranges['ipv4net'] = ripe_ip_ranges.dropna(subset=['inetnum'])['inetnum'].apply(lambda x: [split_ip(x.split(' - ')[0]), split_ip(x.split(' - ')[1])])

In [7]:
%%time
# loading all anonymous data from wikipedia DE
engine = create_engine('postgresql://postgres:4vtqqCjpTKsVG46i@193.175.238.88:5432/ww_api_live')
df_all_edits=pd.read_sql_query('SELECT editor_name, year_month, id from "wikiwho_editordatade" where editor_id = 0;' ,con=engine)

CPU times: user 31 s, sys: 33.3 s, total: 1min 4s
Wall time: 1min 15s

In [8]:
%%time
# removing the invalid editor names
df_all_edits = df_all_edits.drop(df_all_edits[df_all_edits['editor_name'] == ''].index)
df_all_edits = df_all_edits.drop(df_all_edits[df_all_edits['editor_name'].str.contains("xxx")].index)
def isValidIP(x):
    digits = x.split('.')
    if len(digits) == 4 and digits[0].isdigit() and digits[2].isdigit():
        return True
#     if len(x.split(':')) == 8:
    if ":" in x:
        return True
    return False
df_all_edits['valid_ip'] = df_all_edits['editor_name'].apply(isValidIP)
print(df_all_edits.shape)
df_all_edits = df_all_edits.drop(df_all_edits[df_all_edits['valid_ip']==False].index)
print(df_all_edits.shape)

(14364969, 4)
(13839561, 4)
CPU times: user 39.2 s, sys: 37.6 s, total: 1min 16s
Wall time: 1min 17s

In [9]:
# ripe_ipv4 = ripe_ip_ranges.dropna(subset=['inetnum'])[['ipv4net', 'name']]
# ripe_ipv6 = ripe_ip_ranges.dropna(subset=['inet6num'])[['ipv6net', 'name']]
ripe_ipv4 = ripe_ip_ranges.dropna(subset=['inetnum'])[['ipv4net', 'primary-key']]
ripe_ipv6 = ripe_ip_ranges.dropna(subset=['inet6num'])[['ipv6net', 'primary-key']]

In [10]:
ripe_ipv4 = list(ripe_ipv4.itertuples(index=False))
ripe_ipv6 = list(ripe_ipv6.itertuples(index=False))

### Matching the wiki data against our IP ranges

In [11]:
def parse_IP_origin(ip):
    try:
        if '.' in ip:
            ip = split_ip(ip)
            for row in ripe_ipv4:
                ip_range = row[0]
                if ip_range[0] <= ip <= ip_range[1]:
                    return row[1]
            return 'unmatched'
        elif ':' in ip:
            ip = IPv6Address(ip)
            for row in ripe_ipv6:
                ip_range = row[0]
                if ip in ip_range:
#                     print(ip)
#                     print("IPV6!!!")
                    return row[1]
            return 'unmatched'
        else:
#             print(ip)
            return 'unmatched'
    except Exception:
#         print(ip)
        return 'unmatched'

In [12]:
%%time
df_all_edits['IP_origin_simple'] = df_all_edits['editor_name'].apply(parse_IP_origin)

CPU times: user 1min 34s, sys: 4 ms, total: 1min 34s
Wall time: 1min 34s

In [13]:
df_with_IP_matched = df_all_edits[df_all_edits.IP_origin_simple != 'unmatched']

In [14]:
# check somehow if this is good.
# df_with_IP[df_with_IP.IP_origin_simple == 'unmatched'].head()

In [15]:
df_with_IP_matched.head()

           editor_name  year_month        id  valid_ip IP_origin_simple
1207432  82.100.217.62  2015-07-01   7696692      True          9332127
1272146  82.100.217.62  2015-07-01   8131691      True          9332127
2264745  82.100.217.62  2014-12-01  14566023      True          9332127
2581991  82.100.217.62  2014-12-01  16497887      True          9332127
2581992  82.100.217.62  2014-01-01  16497890      True          9332127

In [17]:
df_with_IP_matched[['editor_name', 'id', 'year_month', 'IP_origin_simple']].to_csv('CDU_matched_edits.csv')

In [23]:
df_with_IP_matched[['editor_name', 'id', 'year_month', 'IP_origin_simple']].to_csv('RIPE_matched_edits.csv')

In [16]:
print("Number of anonymous edits: ", df_all_edits.shape)

print("Number of matched edits: ", df_with_IP_matched.shape)

Number of anonymous edits:  (13839561, 5)
Number of matched edits:  (91, 5)

In [27]:
#39052

In [25]:
df_with_IP_matched.year_month.value_counts().sort_index()

2005-05-01     1
2005-06-01     2
2005-07-01     1
2005-09-01     2
2006-02-01     1
2006-03-01     1
2006-04-01     1
2006-08-01     1
2006-09-01     1
2006-10-01     1
2006-11-01     2
2006-12-01     1
2007-02-01    20
2007-08-01     1
2008-05-01     1
2008-06-01     1
2008-09-01     1
2008-10-01     1
2009-01-01     1
2009-02-01     2
2009-04-01     1
2009-05-01     1
2009-06-01     1
2009-09-01     1
2009-10-01     1
2010-02-01     1
2010-06-01     1
2010-10-01     1
2011-01-01     3
2011-02-01    23
2011-04-01     2
2011-05-01     1
2011-06-01     1
2011-07-01     2
2011-11-01     1
2012-03-01     1
2014-01-01     1
2014-11-01     1
2014-12-01     2
2015-07-01     2
Name: year_month, dtype: int64